.banner {
    background: url(../images/123.jpg) no-repeat center;
    background-size: cover;
    h1 {
        font-size: 4rem;
    }
}

.about {
    hr {
        background-color: green;
        border-width: 2px;
    }
}

.batas {
    background-color: darkslategrey;
    border-width: 20px;
    width: 100%;
}

.achievement {
    h1 {
        text-align: center;
    }
    .row {
        text-align: center;
    }
    .fa {
        color: grey;
    }
}

.news {
    hr{
        background-color: green;
        border-width: 2px;
        width: 20%;
        margin-top: 30px;
    }
    .berita{
        text-align: center;
        margin-top: 160px;
    }
    .isi {
        text-align: center;
        margin-bottom: 150px;
    
    }
    h5 {
        text-align: center;
        justify-content: center;
        margin-top: 300px;
        color: honeydew;
        text-shadow: black;
    }
    p {
        text-align: center;
        justify-content: center;
        color: honeydew;
        text-shadow: black;
    }
    .slide {
        margin-top: 50px;
    }
}

.utama {
    margin-top: 50px;
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .kemenag {
        width: 40%;
        height: auto;
    }
}

.dukung {
    margin-top: 10px;
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .mpk {
        width: 30%;
        height: auto;
    }
    .osim {
        width: 30%;
        height: auto;
    }
    .ambalan {
        width: 30%;
        height: auto;
    }
    .paskib {
        width: 30%;
        height: auto;
    }
    .remas {
        width: 30%;
        height: auto;
    }
    .atom {
        width: 40%;
        height: auto;
    }
}

.contact {
    background-color: #343a40;
    text-align: center;
    .man {
        width: 30%;
        height: auto;
        margin-top: 30%;
    }
    h2 {
        margin-bottom: 5%;
    }
    .kontak {
        text-align: start;
        margin-top: 10%;
        padding-left: 5%;
    }
    .motto {
        width: 80%;
        height: auto;
        margin: 25% 0%;
    }
}

.copy {
    background-color: #101010;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 8px;
}